// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$body-background-color: #d2e7ff;
$primary-color: #003b7e !default;
$secondary-color: #000000 !default;
$text-color: #000000 !default;
$link-color: #000000 !default;
$section-header-text-color: $secondary-color !default;
$current-menu-item-background: #3168a7 !default;
$hover-menu-item-background: none;
$table-stripe-color: #eeeeee;
$page-header-text-color:  #348fda5e;
$blank-slate-primary-color: #000000;


@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
